/* Write your CSS here */
.each-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.each-item-title {
  color: #000000;
}
.button {
  border: 1px solid #ff0b37;
  color: #ff0b37;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
